div.HeaderBar {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;    
    gap: 10px;
}

h1 {
    width: 30%;
    font-size: 50px;
}

div.SearchBar {
    width: 50%;
}

button {
    width: 20%;
}

div.Logout .logout-button {
    border-radius: 5px;
    color: white;
    background-color: rgb(0, 0, 0);
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 200px;
}

div.Logout .logout-button:hover {
    background-color: rgb(27, 25, 25);
}