html, body, #root, .Home {
    height: 100%;
}

.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 10px;
    
    background-color: rgb(78, 72, 72);
}

#user-search {
    height: 30px;
    width: 50%;
    border-radius: 25px;
    border: none;
    padding: 10px;
}
