.Profile {
    height: 100%;
}

.Profile {
    align-items: left;
    background-color: rgb(0, 0, 0);
}

.Profile .rowC {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}
