.Register {
    position: relative;

    display: flex;
    flex-direction: column;
}

.Register .register-button, .Register .form-container {
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(27, 25, 25);
}

.Register .register-button:hover, .Register div.form-container:hover {
    background-color: rgb(61, 33, 33);
}

.Register .register-button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 35px;
    width: 200px;
}

.Register form {
    position: absolute;
    top: 40px;
}

.Register input {
    height: 27px;
    width: 90%;
    padding: 5px;
    border: 0px;

    border-radius: 5px;

    font-weight: bold;
    font-size: 14px;
}

.Register input:focus:invalid {
    outline: none;
    background-color: rgb(236, 143, 143);
}

.Register input:focus:valid {
    outline: none;
    background-color: rgb(127, 224, 127);
}

.Register div.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    padding: 10px;
}

.Register button {
    height: 30px;
    width: 50%;

    color: black;
    background-color: white;
    font-size: 16px;
    font-weight: bold;

    border: none;
    border-radius: 5px;
}

.Register button:hover, .Register input:focus {
    background-color: rgb(224, 231, 238);
}

.Register h1 {
    font-size: 20px;
    color: rgb(255, 255, 255);
}