.SearchBar {
    position: relative;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.SearchBar input {
    height: 27px;
    width: 90%;
    padding: 5px;
    border: 0px;

    border-radius: 5px;

    font-size: 14px;
    font-weight: bold;

    outline: none;
}

.SearchBar input:focus+ul {
    display: block;
    position: absolute;
    z-index: 1;
    width: 90%;
}

.SearchBar ul:hover {
    display: block;
    position: absolute;
    width: 90%;
}

.SearchBar ul {
    display: none;
    
    padding: 5px;
    margin-top: 5px;

    list-style: none;

    border-radius: 5px;

    background-color: rgb(27, 25, 25);
}

.SearchBar ul:empty {
    padding: 0px;
}

.SearchBar li {
    padding: 15px;

    border-radius: 10px;

    font-size: 16px;
    font-weight: bold;
    color: white;
}

.SearchBar li:hover {
    background-color: rgb(61, 33, 33);
}
