.UserInfo {
    margin: 5px;
    height: 300px;
    width: 300px;

    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;

    border-radius: 25px;
    background-color: rgb(61, 33, 33);
    box-shadow: 5px 10px 5px rgb(36, 17, 17);
    word-wrap: break-word;

    font-weight: bold;
}
