.CreatePost {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.CreatePost div.create-post-button, .CreatePost div.form-container {
    border-radius: 5px;
    color: white;
    background-color: #262626;
}

.CreatePost textarea { 
    resize: none;
    min-width: fill;
    min-height: 200px;
    background-color: inherit;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 20px;
    font-weight: bold;
    color: rgb(201, 197, 197);
}

.CreatePost div.create-post-button:hover, .CreatePost div.form-container:hover {
    background-color: rgb(61, 33, 33);
}

.CreatePost .create-post-button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 35px;
    margin: 10px;
}

.CreatePost form {
    position: flex;
    top: 50px;
    padding: 10px;
    width: min(100%, 570px);
}

.CreatePost div.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border-radius: 25px;
    box-shadow: 5px 10px 5px #2e2b2b;
    
    padding: 10px;
    height: fit-content;

}

.CreatePost button { 
    height: 30px;
    width: 100px;

    color: black;
    background-color: white;

    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.CreatePost button:hover, .CreatePost input:focus {
    background-color: rgb(224, 231, 238);
}