.EditBio {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.EditBio div.edit-bio-button, .EditBio div.form-container {
    border-radius: 5px;
    color: white;
    background-color: rgb(61, 33, 33);
    box-shadow: 5px 10px 5px rgb(36, 17, 17);
}

.EditBio textarea { 
    resize: none;
    min-width: fill;
    height: 250px;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 20px;
    font-weight: bold;
    background-color: inherit;
    color: inherit;
}

.EditBio div.edit-bio-button:hover, .EditBio div.form-container:hover {
    background-color: rgb(27, 25, 25);
}

.EditBio div.edit-bio-button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: rgb(201, 197, 197);
    font-weight: bold;
    
    height: 35px;
    width: 200px;
    margin: 10px;
}

.EditBio form {
    position: flex;
    top: 50px;
    padding: 10px;
    width: 300px;
}

.EditBio div.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    
    padding: 10px;
    height: fit-content;

}

.EditBio button { 
    height: 30px;
    width: 35%;

    color: black;
    background-color: white;
    font-size: 14px;
    font-weight: bold;

    border: none;
    border-radius: 5px;
}

.EditBio button:hover, .EditBio input:focus {
    background-color: rgb(224, 231, 238);
}
