div.EditBio {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
}

div.edit-bio-button, div.form-container {
    border-radius: 5px;
    color: white;
    background-color: rgb(0, 0, 0);
}

textarea { 
    resize: none;
    min-width: fill;
    min-height: 140px;
}

div.edit-bio-button:hover, div.form-container:hover {
    background-color: rgb(27, 25, 25);
}

div.edit-bio-button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 35px;
    width: 200px;
    margin: 10px;
}

div.EditBio form {
    position: flex;
    top: 50px;
    padding: 10px;
    width: 300px;
}

div.EditBio div.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    
    padding: 10px;
    height: fit-content;

}

div.EditBio button { 
    height: 30px;
    width: 35%;

    color: black;
    background-color: white;

    border: none;
    border-radius: 5px;
}

div.EditBio button:hover, div.EditBio input:focus {
    background-color: rgb(224, 231, 238);
}