@font-face {
    font-family: Beccaria;
    src: url('../Fonts/Beccaria.ttf');
}

.HeaderBar {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;  
    gap: 10px;
    background-color: #262626;
    box-shadow: 0px 5px 5px #423b3b;
}

.HeaderBar .logo-title {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0px 15px;
}

.HeaderBar .logo-title:hover h1 {
    color: rgb(79, 56, 56);
}

.HeaderBar .logo-title:hover svg {
    fill: rgb(79, 56, 56);
}

.HeaderBar svg {
    height: 50px;
}

.HeaderBar .logo-title h1 {
    font-size: 70px;
    font-family: Beccaria;
}


.HeaderBar div.SearchBar {
    width: 50%;
}

.HeaderBar .user-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0px 10px;
    width: 30%;
}


.HeaderBar div.Logout .logout-button {
    border-radius: 5px;
    color: white;
    background-color: rgb(27, 25, 25);
    font-size: 18px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 200px;
}

.HeaderBar div.Logout .logout-button:hover {
    background-color: rgb(61, 33, 33);
}

.HeaderBar div.YourProfile .profile-button {
    border-radius: 5px;
    color: white;
    background-color: rgb(27, 25, 25);
    font-size: 18px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 200px;
}

.HeaderBar div.YourProfile .profile-button:hover {
    background-color: rgb(61, 33, 33);
}