* {
    margin: 0px;
}

.Post {
    display: flex;
    flex-direction: column;
    gap: 5px;

    padding: 10px;

    border-radius: 25px;
    background-color: rgb(145, 28, 28);
}

.likes-dislikes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.like-info, .dislike-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.like-info svg:hover, .dislike-info svg:hover {
    color: white;
}