.Post a:hover {
    color: rgb(79, 56, 56);
}

.Post {
    margin: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;

    width: min(80%, 550px);

    box-shadow: 5px 10px 5px #2e2b2b;
    border-radius: 25px;
    color: rgb(201, 197, 197);
    background-color: #262626;
    word-wrap: break-word;
}

.Post a>h2 {
    font-size: 30px;
}

.Post>p {
    font-size: 24px;
}

.Post .likes-dislikes {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.Post .like-info, .dislike-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.Post .like-info svg:hover, .dislike-info svg:hover {
    color: rgb(79, 56, 56);
}

.Post svg.liked, svg.disliked {
    color: rgb(34, 1, 1);
}

.Post .date-container p {
    font-style: italic;
}

.Post .withered {
    font-size: 50px;
    font-style: italic;
    font-weight: bolder;
}