html, body, #root, .Profile {
    height: 100%;
}

.Profile {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 10px;
    background-color: rgb(29, 161, 242);
}

.rowC {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
