.SignIn {
    position: relative;

    display: flex;
    flex-direction: column;
}

.SignIn .sign-in-button, .SignIn div.form-container {
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(27, 25, 25);
}

.SignIn div.sign-in-button:hover, .SignIn div.form-container:hover {
    background-color: rgb(61, 33, 33);
}

.SignIn div.sign-in-button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 35px;
    width: 200px;
}


.SignIn form {
    position: absolute;
    top: 40px;
}

.SignIn div.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    padding: 10px;
}

.SignIn button {
    height: 30px;
    width: 50%;

    color: black;
    font-size: 16px;
    font-weight: bold;
    background-color: white;

    border: none;
    border-radius: 5px;
}


.SignIn input {
    height: 27px;
    width: 90%;
    padding: 5px;
    border: 0px;

    border-radius: 5px;

    font-weight: bold;
    font-size: 14px;
}

.SignIn button:hover, .SignIn input:focus {
    background-color: rgb(224, 231, 238);
}

.SignIn h1 {
    font-size: 20px;
    color: rgb(255, 255, 255);
}